@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'Quicksand';
  box-sizing: border-box;
}


body {
  background: #f7f7f7;
  padding: 30px;
}

.App {
  max-width: 900px;
  margin: auto;
}

form {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 15px;
  color: #333;
  text-align: center;
}

form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

form input:focus {
  outline: none;
  border-color: #3498db;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.3);
}

form button {
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 10px;
}

form button[type="submit"] {
  background: #3498db;
  color: white;
}

form button[type="submit"]:hover {
  background: #217dbb;
}

form button[type="button"] {
  background: #e74c3c;
  color: white;
}

form button[type="button"]:hover {
  background: #c0392b;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}

thead {
  background: #3498db;
  color: white;
}

thead th {
  padding: 12px;
  text-align: left;
  font-size: 16px;
}

tbody tr:nth-child(even) {
  background: #f2f2f2;
}

tbody tr:hover {
  background: #eaf4ff;
}

tbody td {
  padding: 12px;
  font-size: 15px;
  color: #333;
}


button {
  cursor: pointer;
}

button.edit-btn {
  background: #f1c40f;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  color: white;
}

button.edit-btn:hover {
  background: #d4ac0d;
}

button.delete-btn {
  background: #e74c3c;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  color: white;
  margin-left: 8px;
}

button.delete-btn:hover {
  background: #c0392b;
}
