{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task delete</title>
    <link rel="stylesheet" href="{% static 'tasks/css/task_delete.css' %}">
</head>
<body>
    <h1>Delete Task</h1>

<p>Are you sure you want to delete: <strong>{{ task.title }}</strong>?</p>

<form method="POST">
    {% csrf_token %}
    <button type="submit">Yes, Delete</button>

    <a href="{% url 'task_list' %}">Cancel</a>
</form>


</body>
</html>

