
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

        <link rel="stylesheet" href="{% static 'register.css' %}" />

</head>
<body>
    

<h2>Register</h2>
<form method="POST" novalidate>
    {% csrf_token %}
    {% for field in form %}
        <p>
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
        </p>
    {% endfor %}
    <button type="submit">Sign Up</button>
</form>

<p>Already have an account ?<a href="{% url 'login' %}">Log in</a></p>

</body>
</html>

