*{
    font-family: 'quicksand', sans-serif;
}

body {
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.container {
  background-color: #fff;
  margin-top: 60px;
  padding: 20px 25px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 400px;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 15px;
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

button {
  padding: 10px;
  width: 20%;
  border: none;
  border-radius: 8px;
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #218838;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 15px;
}

li {
  background-color: #f6f6f6;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editbtn {
  background-color: #ffc107;
  color: #000;
  border: none;
  border-radius: 8px;
  padding: 8px 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.editbtn:hover {
  background-color: #e0a800;
}

.deletebtn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.deletebtn:hover {
  background-color: #c82333;
}
