@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    font-family: 'Quicksand';
}

body {
    background: #f2f2f2;
    text-align: center;
    padding-top: 60px;
}

h1 {
    color: #d9534f;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    margin-bottom: 25px;
}

form {
    display: inline-block;
    background: white;
    padding: 20px 25px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

button {
    background: #e94d4d;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    margin-bottom: 20px;
    margin-top: 20px;
}

button:hover {
    background: #c43c3c;
}

a {
    display: inline-block;
    background: #888;
    color: white;
    padding: 8px 14px;
    border-radius: 5px;
    text-decoration: none;
}

a:hover {
    background: #666;
}
